.experience-content {
    display: flex;
}



.job-tabs {
display: flex;
flex-direction: column;
}

.job-tab{
    width: 175px;
    height: 100px;
    color: var(--color-text) ;
    border-left: 3px solid var(--color-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--font-md);
}

.active-tab{
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--color-primary);
    border-left: 3px solid var(--color-primary);
}

.job-panel {
    color: var(--color-text);
    font-size: var(--font-sm);
    margin: 10px 30px;
    padding-left: 20px;
}

.job-title{
    font-size: var(--font-lg);
    font-weight: 500;
}
.job-employment{
    font-size: var(--font-md);
    font-weight: 500;
}

.job-panel li {
 font-weight: 500;
 line-height: 1.5rem;
 margin-bottom: 15px;
 padding-left: 5px;
 max-width: 475px;
}

@media screen and (max-width: 820px) {
    .experience-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    };
    .experience-content ul{
        display: flex;
        list-style: none;
        padding-inline-start: 0px;
    }
    .job-tabs {
        flex-direction: row;
        padding-inline-start: 0px;
    }
    .job-tabs ul {
        padding-inline-start: 0px;
        flex-direction: row;
    }

    .job-tab {
        width: 33%;
        height: 75px;
        border-left: none;
        border-top: 3px solid var(--color-text);
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    .active-tab{
        border-left: none;
        border-top: 3px solid var(--color-primary);
    }
    
    ul {
        display: block;
    }

}