.work-content {
    display: flex;
}

.project-panel {
    display: flex;
    flex-direction: column;
    max-width: 800px; 
    width: 90vw;
    height: auto;
    margin-bottom: 20px;
    background-color: rgba(217, 217, 217, .04);
    border-left: 2px solid var(--color-text);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
}

.project-panel-row {
    flex-direction: row;
}

.project-information {
    display: flex;
}

.project-name {
    font-size: 1.5rem;
    font-weight: 600;
}
.project-description {
    font-size: .75rem;
}

.project-stack {
    font-style: italic;
}

.project-video {
    height: 300px;
}